    <main class="info-main">
        <h1>Informaci칩n sobre la aplicaci칩n</h1>

        <section class="informacion card-kawaii">
            <h3>Objetivos</h3>
            <p>Los objetivos de esta aplicaci칩n son simular
            un entorno de casino virtual en el que los usuarios
            puedan realizar transacciones ficticias, con el prop칩sito de interactuar con
            juegos como la ruleta, asi tambien promoviendo un juego responsable.</p>
        </section>

        <section class="equipo-desarrollo card-kawaii">
            <h3>Equipo de desarrollo</h3>
            <p>
                游꺚 Felipe Irribarra<br>
                Ingeniero civil en inform치tica y telecomunicaciones 
                <br><br>
                游꺚 Cristobal Araya<br>
                Ingeniero civil en inform치tica y telecomunicaciones
                <br><br>
                游꺚 Jessica Aguilera<br>
                Ingeniera civil en inform치tica y telecomunicaciones
            </p>
        </section>

        <section class="tech card-kawaii">
            <h3>Tecnolog칤as utilizadas</h3>
            <p>
                * Visual Studio Code<br>
                * Github<br>
                * OnlineGDB<br>
                * HTML<br>
                * CSS<br>
                * JavaScript<br>
                * Node.js<br>
                * Express<br>
                * Handlebars<br>
                * MongoDB<br>
                * Paletton<br>
                * AWS Amazon
            </p>
        </section>

        <section class="aclaracion card-kawaii">
            <h3>Proyecto</h3>
            <p>Este sitio es parte de un proyecto acad칠mico de la Universidad Diego Portales. Su objetivo es exclusivamente educativo y no busca promover la ludopat칤a.</p>
        </section>
    </main>