<main>
  <section class="card-kawaii">
    <h2>¿Quieres cerrar tu sesión?</h2>
    
   <form action="/logout/confirmar" method="get">
  <button type="submit">Sí</button>
</form>

<form action="/perfil" method="get">
  <button type="submit">Volver al perfil</button>
</form>

  </section>
</main>

