<!DOCTYPE html>
<html lang="es">


    <link rel="stylesheet" href="style.css">

    <head>
        <meta charset="UTF-8">
        <title>Perfil - Pocchinko Kitty </title>
    </head>

<body>

    <nav class="nav-kawaii">
        <a href="cierre-sesi贸n.html" class="nav-logo">
        <img src="casino-logo.jpg" alt="Pocchinko Kitty" class="logo-img">
        <span>Pocchinko Kitty</span>
        </a>
        <div class="nav-links">
            <a href="perfil.html" class="active">Mi perfil</a>
            <a href="transacciones.html">Transacciones</a>
            <a href="ruleta.html">Mesa de ruleta</a>
            <a href="ruleta-info-duplica.html">Info ruleta</a>
            <a href="cierre-sesi贸n.html">Cierre de sesi贸n</a>
        </div>
    </nav>

    <div class="perfil-wrapper">
        <div class="perfil-container">
            <section class="cuadro-datos">
                <h2>Mis datos </h2>
                <h4>Nombre:</h4>
                <h5>Pocchaco Sanrio</h5>
                <br>
                <h4>Usuario:</h4> 
                <h5>pocchacogod05</h5>
                <br>
                <h4>Correo electr贸nico:</h4>
                <h5>poccacho.sanrio@mail.udp.cl</h5>
                <br>
                <h4>Fecha de registro:</h4>
                <h5>31 de marzo de 2025</h5>
            </section>

            <div class="columna-derecha">
                <section class="cuadro-saldo">
                    <h2>Mi saldo </h2>
                    <b><p>37.500,00 Gars </p></b>
                </section>
                <section class="cuadro-estadisticas">
                    <h2>Estad铆sticas de juego </h2>
                    <p>Partidas jugadas: 70</p>
                    <p>Rondas ganadas: 18</p>
                    <p>Mayor ganancia: 10000.00$</p>
                    <p>Tiempo de juego total: 1h 7m</p>
                </section>
            </div>
        </div>
    </div>

    <h2>ltimos movimientos </h2>

<table>

<tr>
<td>05/09/2025</td>
<td>+10000 CLP (Gars)</td>
<td>Apuesta</td>
</tr>

<tr>
<td>05/09/2025</td>
<td>+14000 CLP (Gars)</td>
<td>Deposito</td>
</tr>

<tr>
<td>20/08/2025</td>
<td>-5000 CLP (Gars)</td>
<td>Apuesta</td>
</tr>

<tr>
<td>16/08/2025</td>
<td>-5000 CLP (Gars)</td>
<td>Retiro</td>
</tr>

<tr>
<td>05/08/2025</td>
<td>+10000 CLP (Gars)</td>
<td>Deposito</td>
</tr>
</table>

</body>
</html>
